<% include header %>

<% include nav %>

<main>
  <section class="grid-contact-container">
      <img class="contact-item-image" src="/img/logo.png">
<div class="over">


  <p>The Nova Museum is the world's famous museum and a historic monument in Antwerp, Belgium. A central landmark of the city, it is located next to AP Hogeschool. Nova Museum is the world's second most visited museum, receiving 7.4 million visitors in 2019.</p>
  <p>The museum opened on 07 September 1992 with an exhibition of 10 paintings. Nova Museum Nova museum has a wide audience. They try to attract young adults by using modern art such as graffiti art. But they also continue to exhibit their old classics, attracting a wide audience. </p>
  <p>Be sure to visit the museum because we can try to describe the museum in words. But it's like art, you have to experience it! Hope to see you soon! </p>
</div>
</section>
</main>

<% include footer %>