<% include header %>
<% include nav %>
<main>
    <section class="grid-contact-container">
        <img class="contact-item-image" src="/img/logo.png">
        <article>
            <h2>Email</h2>
            <p>info@novamuseum.be</p>
            <h2>Adres</h2>
            <p>Ellermanstraat 33, Antwerpen</p>
            <form id="form" class="topBefore">
                <input id="name" type="text" placeholder="NAME">
                <input id="email" type="text" placeholder="E-MAIL">
                <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
        <input id="submit" type="submit" value="SUBMIT">
      </form>
        </article>
    </section>
</main>
<% include footer %>