<% include header %>

<% include nav %>

<form action="/search.ejs" method="get">
  <input class="search" type="text" name="search" value="Search...">
</form>

<main>
    <div class="home-container">
        <img class="home-image" src="/img/cover.png">
        <h1>Exhibition Banksy</h1>
    </div>
</main>

<% include footer %>